@import url("https://fonts.googleapis.com/css?family=Exo 2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Open Sans Condensed:300,300i,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=PT Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT Sans Caption:400,700&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=PT Sans Narrow:400,700&subset=cyrillic,cyrillic-ext,latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto Slab:100,300,400,700&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese");

.wb-stl-pagetitle { font-size: 40px; font-style: normal bold ; font: normal bold 40px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 35px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-pagetitle a { font-size: 40px; font-style: normal; font: normal bold 40px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 35px; font-weight: bold; }
.wb-stl-pagetitle a:hover { font-size: 40px; font-style: normal; font: normal bold 40px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 35px; font-weight: bold; }
.wb-stl-subtitle { font-size: 86px; font-style: normal bold ; font: normal bold 86px 'Roboto',sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 100px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: uppercase; }
.wb-stl-subtitle a { font-size: 86px; font-style: normal; font: normal bold 86px 'Roboto',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 100px; font-weight: normal; }
.wb-stl-subtitle a:hover { font-size: 86px; font-style: normal; font: normal bold 86px 'Roboto',sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 100px; font-weight: normal; }
.wb-stl-heading1 { font-size: 36px; font-style: normal bold ; font: normal bold 36px Arial,Helvetica,sans-serif; color: #050505; text-decoration: none; text-align: left; line-height: 42px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading1 a { font-size: 36px; font-style: normal; font: normal bold 36px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 42px; font-weight: normal; }
.wb-stl-heading1 a:hover { font-size: 36px; font-style: normal; font: normal bold 36px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 42px; font-weight: normal; }
.wb-stl-heading2 { font-size: 24px; font-style: normal bold ; font: normal bold 24px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading2 a { font-size: 24px; font-style: normal; font: normal bold 24px Arial,Helvetica,sans-serif; color: #0097e3; text-decoration: none; text-align: left; line-height: 36px; font-weight: bold; }
.wb-stl-heading2 a:hover { font-size: 24px; font-style: normal; font: normal bold 24px Arial,Helvetica,sans-serif; color: #007ebd; text-decoration: underline; text-align: left; line-height: 36px; font-weight: bold; }
.wb-stl-heading3 { font-size: 31px; font-style: normal bold ; font: normal bold 31px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 36px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-heading3 a { font-size: 31px; font-style: normal; font: normal bold 31px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 36px; font-weight: normal; }
.wb-stl-heading3 a:hover { font-size: 31px; font-style: normal; font: normal bold 31px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 36px; font-weight: normal; }
.wb-stl-normal { font-size: 17px; font-style: normal normal ; font: normal normal 17px Arial,Helvetica,sans-serif; color: #3b3b3b; text-decoration: none; text-align: left; line-height: 29px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-normal a { font-size: 17px; font-style: normal; font: normal normal 17px Arial,Helvetica,sans-serif; color: #0097e3; text-decoration: underline; text-align: left; line-height: 29px; font-weight: bold; }
.wb-stl-normal a:hover { font-size: 17px; font-style: normal; font: normal normal 17px Arial,Helvetica,sans-serif; color: #007ebd; text-decoration: none; text-align: left; line-height: 29px; font-weight: bold; }
.wb-stl-highlight { font-size: 19px; font-style: normal bold ; font: normal bold 19px Arial,Helvetica,sans-serif; color: #ffffff; text-decoration: none; text-align: left; line-height: 31px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-highlight a { font-size: 19px; font-style: normal; font: normal bold 19px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 31px; font-weight: normal; }
.wb-stl-highlight a:hover { font-size: 19px; font-style: normal; font: normal bold 19px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 31px; font-weight: normal; }
.wb-stl-special { font-size: 17px; font-style: normal normal ; font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-special a { font-size: 17px; font-style: normal; font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; font-weight: normal; }
.wb-stl-special a:hover { font-size: 17px; font-style: normal; font: normal normal 17px Arial,Helvetica,sans-serif; color: #000000; text-decoration: none; text-align: left; line-height: 24px; font-weight: normal; }
.wb-stl-footer { font-size: 14px; font-style: normal normal ; font: normal normal 14px Arial,Helvetica,sans-serif; color: #2e2e2e; text-decoration: none; text-align: left; line-height: 17px; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; text-transform: none; }
.wb-stl-footer a { font-size: 14px; font-style: normal; font: normal normal 14px Arial,Helvetica,sans-serif; color: #0097e3; text-decoration: underline; text-align: left; line-height: 17px; font-weight: bold; }
.wb-stl-footer a:hover { font-size: 14px; font-style: normal; font: normal normal 14px Arial,Helvetica,sans-serif; color: #007ebd; text-decoration: none; text-align: left; line-height: 17px; font-weight: bold; }
.wb-stl-custom1 { font-size: 14px; font: 12px; color: #000000; line-height: 17px; margin: 0; padding: 0; }
.wb-stl-custom1 a { font-size: 14px; font: 12px; color: #000000; line-height: 17px; }
.wb-stl-custom1 a:hover { font-size: 14px; font: 12px; color: #000000; line-height: 17px; }
.wb-stl-custom2 { font-size: 19px; font: 16px; color: #777777; line-height: 22px; margin: 0; padding: 0; }
.wb-stl-custom2 a { font-size: 19px; font: 16px; color: #777777; line-height: 22px; }
.wb-stl-custom2 a:hover { font-size: 19px; font: 16px; color: #777777; line-height: 22px; }
.wb-stl-custom3 { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; margin: 0; padding: 0; }
.wb-stl-custom3 a { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; }
.wb-stl-custom3 a:hover { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; }
.wb-stl-list1 { font-size: 14px; font: 12px; color: #000000; line-height: 17px; margin: 0; padding: 0; }
.wb-stl-list1 a { font-size: 14px; font: 12px; color: #000000; line-height: 17px; }
.wb-stl-list1 a:hover { font-size: 14px; font: 12px; color: #000000; line-height: 17px; }
ul.wb-stl-list1 { list-style: none; }
ul.wb-stl-list1 li { font-size: 14px; font: 12px; color: #000000; line-height: 17px; }
ul.wb-stl-list1 li > * { display: inline-block; vertical-align: middle; }
ul.wb-stl-list1 li:before { content: "\2022"; font-size: 14px; font-family: ; display: inline-block; vertical-align: middle; background-image: url(''); background-repeat: no-repeat; background-size: contain; background-position: center center; width: 14px; height: 17px; margin-right: 0; }
.wb-stl-list2 { font-size: 19px; font: 16px; color: #777777; line-height: 22px; margin: 0; padding: 0; }
.wb-stl-list2 a { font-size: 19px; font: 16px; color: #777777; line-height: 22px; }
.wb-stl-list2 a:hover { font-size: 19px; font: 16px; color: #777777; line-height: 22px; }
ul.wb-stl-list2 { list-style: none; }
ul.wb-stl-list2 li { font-size: 19px; font: 16px; color: #777777; line-height: 22px; }
ul.wb-stl-list2 li > * { display: inline-block; vertical-align: middle; }
ul.wb-stl-list2 li:before { content: "\2022"; font-size: 19px; font-family: ; display: inline-block; vertical-align: middle; background-image: url(''); background-repeat: no-repeat; background-size: contain; background-position: center center; width: 19px; height: 22px; margin-right: 0; }
.wb-stl-list3 { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; margin: 0; padding: 0; }
.wb-stl-list3 a { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; }
.wb-stl-list3 a:hover { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; }
ul.wb-stl-list3 { list-style: none; }
ul.wb-stl-list3 li { font-size: 24px; font: 20px; color: #ffffff; line-height: 29px; }
ul.wb-stl-list3 li > * { display: inline-block; vertical-align: middle; }
ul.wb-stl-list3 li:before { content: "\2022"; font-size: 24px; font-family: ; display: inline-block; vertical-align: middle; background-image: url(''); background-repeat: no-repeat; background-size: contain; background-position: center center; width: 24px; height: 29px; margin-right: 0; }


.wb-elm-line { font-size: 1px; overflow: hidden; line-height: 1px; padding: 0; background: transparent; float: none; position: relative; }


:root {
  --navigation-color: #ffb835;
  --navigation-color-hover: #F9CD7D;

  --main-color: #00BFFF;
  --main-color-input:#F0F8FF;
  --main-color-light: #00CCFF;
  --main-color-dark: #0000CD;
}
ul.loginNav {
	z-index: 1000;
	float: right;
	vertical-align: middle;
	top: 0;
	width: auto;
	list-style-type: none;
	margin: 0;
	padding: 0px 15px;
	overflow: hidden;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight : 700;
	position: fixed;
	right: 0px;
}

ul.topnav {
	vertical-align: middle;
	background-color : black;
	top: 0px;
	width: 100%;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	letter-spacing: 2px;
	font-size: 16px;
	font-weight : 700;
	z-index: 10
}

li {
	float: left;
	line-height: 48px;
}

li a {
	display: block;
	color: white;
	text-align: left;
	padding: 0px 10px;
	text-decoration: none;
}


ul.loginNav li.liLogin button {
  background-color: var(--navigation-color);
  border: 2px solid var(--navigation-color) ;
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
/*  text-align: center;
  text-decoration: none;
  display: inline-block;*/
 /* font-size: 16px;*/
/*  margin: 4px 2px;*/
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin: 12px;
  line-height: 35px;
  float: right;
}

ul.loginNav li.liLogin button:hover {
background: var(--navigation-color-hover);
}
ul.loginNav li.liLogin {float: right;}

ul.topnav li a:hover:not(.active) {color: var(--navigation-color); text-decoration: none;}

ul.topnav li a.active {
	color: var(--navigation-color); 
	text-decoration: none;
}

/*ul.topnav li.right {float: right;}*/

/*@media (min-width: 600px) {
}
*/
@media (max-width: 768px) {
  li {float: none;}
  ul.topnav {
  	position: none;
  	padding: 0px 15px;
  /*	top: 48px;*/
  }
  ul.loginNav {
  	position: absolute;
  }
  .textbody {
	padding: 10px;
}

}
@media (min-width: 768px) {
  ul.topnav {
  	position: fixed;
  	padding: 10px 15px;
  }
  #container {
  	top: 65px;
  }
   .textbody {
	padding: 50px;
}

}

/*
@media (min-width: 992px) {
}

@media (max-width: 767px) {
}*/

commonheader {
	display: block;
	color : var(--main-color);
	/*background-color : black;*/
	padding : 0px
}

commonfooter {
	display: block;
	color : var(--main-color);
	background-color : black;
	padding : 10px
}

body {
	font: normal 'Lucida Grande', Helvetica, Arial, sans-serif
	color : var(--main-color);
	background-color : black;
	padding :10px;
	font-size: 14px;
}



h1 {
	color : var(--main-color-dark);
	font-weight : 700;
	letter-spacing: 2px;
	font-size: 25px;
}

table {
	display: block;
	/*border: 1px solid var(--main-color);*/
	overflow-x: scroll;
}
th  {
	color : white;
	background-color: var(--main-color);
	border-collapse: collapse;
	padding: 5px;
}

td {
	color : black;
	background-color: aliceblue;
	border-bottom: 1px solid var(--main-color);
	border-collapse: collapse;
	padding: 5px;
}

button {
color: var(--main-color);
background: white;
padding: 10px;
border: 2px solid var(--main-color) ;
border-radius: 6px;
display: inline-block;
}

button:hover {
color: white;
background: var(--main-color);
border-color: var(--main-color);
transition: all 0.4s ease 0s;
}

input[type=date], [type=time]   {
	width: 40%;
	padding: 10px;
	 border-radius: 5px;
}
input[type=text], [type=number]  {
	width: 80%;
	padding: 10px;
	border-radius: 5px;
}


input[type=checkbox] {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
input[type=checkbox]:hover  {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
input[type=checkbox]:checked {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
input[type=checkbox]:after {
  content: "";
  position: absolute;
  display: none;
}


input:focus {
	background-color: var(--main-color-input);
}

select {
	width: 80%;
	border: 5px solid #f8f8f8
}

label{
	font-size: 16px;
	padding: 20px 0px 5px 0px;
}

img.icon {
	max-height:35px;
}

.loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

@-webkit-keyframes spin {
  from {-webkit-transform:rotate(0deg);}
  to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.loader::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

* {
  box-sizing: border-box;
}


.textbody {
	color : black;
	background-color : white;
  margin: 48px 0px 0px 0px;

}
.below_slide {
  padding-top: 55vw;

}
#container {
  padding: 0;

  left: 0px;
  border: 10px black solid;
  background-color: black;
  position: absolute;
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

#slides {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}
#slides .slide {
  z-index: 0;
  position: absolute;
  display: flex;
  width: 100%;
  height:100%;
}

#slides a {
  padding: 0px;
}
#slides .slide .title {
  position: absolute;
  top: calc(50% - 36px);
  left: 20px;
  z-index: 2;
  padding-top: 5px;
  font-size: 36px;
  color: white;
  overflow: hidden;
  text-shadow: 0px 0px 10px #000000;
}
#slides .slide .title .title-text {
  display: block;
  -webkit-transform: translateY(1.2em);
          transform: translateY(1.2em);
/*  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;*/
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-img img {
  position: absolute;
  width: 100%;
  max-height: 50vw;
  -o-object-fit: cover;
     object-fit: cover;
       -o-object-position: 100% 100%;
     object-position: 100% 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

#slides .slide.active .title .title-text {
  -webkit-transform: translate(0);
          transform: translate(0);
  transition-delay: 0.3s;
}
#slides .slide.active .slide-img img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#slide-select {
  position: absolute;
  bottom: 0px;
  left: calc(50% - 100px);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Reem Kufi", sans-serif;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
  list-style-type: none;
}
#slide-select li {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}
#slide-select li.prev:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
#slide-select li.next:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
#slide-select .selector {
  height: 14px;
  width: 14px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current {
  background-color: white;
}

