
#wb_header { height: 80px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 740px; padding-bottom: 30px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 74px; }
#wb_footer > .wb_cont_bg { background: transparent none repeat-x scroll left top; }
body { background: transparent none repeat-x scroll left top; }
.wb_sbg { background: transparent url("../gallery_gen/1aa65be81ca706afc7f0fa6bdac38dda.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 1200px; min-height: 894px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 864px; overflow: visible; min-height: 894px; }
#wb_element_instance26 { top: 12px; left: 676px; min-width: 510px; width: 510px; min-height: 56px; height: 56px; display: block; z-index: 400; }
#wb_element_instance26 > ul { display: block; }
#wb_element_instance26 ul { background: transparent none repeat scroll right top; border: 1px none #000000; }
#wb_element_instance26, #wb_element_instance26 ul { text-align: right; }
#wb_element_instance26 ul ul { background: #000000 none repeat scroll right top; }
#wb_element_instance26 li { margin: 0px 0px 0px 0px; }
#wb_element_instance26 li a { text-transform: uppercase; border: 0px none #000000; padding: 20px 20px 20px 20px; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffffff; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance26 li.over > a, #wb_element_instance26 li:focus > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance26 li.active > a { border: 0px none #000000; font: normal bold 14px Helvetica,Arial,sans-serif; text-decoration: none; color: #0097e3; line-height: 16px; background: transparent none repeat-x scroll center center; }
#wb_element_instance26:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance26:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance26:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance27 { top: 10px; left: 30px; min-width: 190px; width: 190px; min-height: 60px; height: 60px; display: block; z-index: 197; }
#wb_element_instance27 img { width: 190px; height: 60px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance28 { top: 30px; left: 10px; min-width: 219px; width: 219px; min-height: 34px; height: 34px; display: block; z-index: 202; }
#wb_element_instance29 { top: 30px; left: 10px; min-width: 1180px; width: 1180px; min-height: 42px; height: 42px; display: block; z-index: 49; }
#wb_element_instance30 { top: 240px; left: 410px; min-width: 350px; width: 350px; min-height: 174px; height: 174px; display: block; z-index: 51; }
#wb_element_instance31 { top: 90px; left: 410px; min-width: 770px; width: 770px; min-height: 108px; height: 108px; display: block; z-index: 52; }
#wb_element_instance32 form .form-area-field { height: 86px; }
#wb_element_instance32 { top: 480px; left: 10px; min-width: 1180px; width: 1180px; min-height: 200px; height: 200px; display: block; z-index: 71; }
#wb_element_instance33 { top: 700px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance34 { top: 84px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance28 p:last-child { margin-bottom: 0; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance30 p:last-child { margin-bottom: 0; }
#wb_element_instance31 p:last-child { margin-bottom: 0; }
#wb_element_instance32 form td { text-align: right; }
#wb_element_instance32 form tr.area-row > th { height: 1%; }
#wb_element_instance32 form tr.area-row > td { height: 1%; }
#wb_element_instance32 form tr.form-footer > td { height: 20px; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
