
main {
	background-image: url("../gallery/home_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height:700px;
}


.home_login {
    height: 50vw;
    border: 2px solid var(--navigation-color) ;
    border-radius: 50px;
    box-shadow: 5px 5px grey;
}