/** {
  margin: 0;
  padding: 0;
}*/

/*body {
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
  background: #2c3e50;
}*/

/*#wrap {
  margin: 0 auto 30px;
}*/

#regbar {
  vertical-align: middle;
  /*height: 67px;
  background: #34495e;*/
}

/*#navthing {
  margin-left: 50px;
}*/

/*.loginPanel {
  position:absolute;
  top:12px;
  right:0;
  z-index: 5;
}*/

.loginPanel button {
  background-color: #ffb835;
  /*border: solid 1px #ffb835;*/
  border-radius: 30px;
  color: white;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 /* font-size: 16px;*/
/*  margin: 4px 2px;*/
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  float: right;
  margin: 10px;
  z-index: 1000;
}

.loginPanel button:hover { /*when mouse moves to there*/
  background-color: #b66f00;
}
.loginPanel button:active { /*when mouse moves to there*/
  background-color: #b66f00;
}

/*h2 {
  padding: 20px;
  color: #ecf0f1;
}*/

fieldset {
  border: none;
}

.login {
 /* position: absolute;
  top:80px;
  right:0;
  width: 350px;*/
  display: none;
}

.arrow-up {
  width: 0;
  height: 20px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  right: 136px;
  position: fixed;
  top: 60px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
  top: 80px;
  position: fixed;
  right: 10px;
  line-height: 30px;
}
.formholder_input_valid {
  padding: 5px 10px;
  width: 100%;
  display: block;
/*  font-size: 18px;*/
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  margin: 0px 0px 10px 0px;
  color: black;
}

.formholder_input_invalid {
  padding: 5px 10px;
  width: 100%;
  display: block;
/*  font-size: 18px;*/
  border-radius: 5px;
  border: red 2px solid;;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  margin: 0px 0px 10px 0px;
  color: black;
}

.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px var(--main-color);
}
.formholder input[type="submit"] {
  background: var(--main-color);
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 96%;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 0px 0px 10px 0px;
}
.formholder input[type="submit"]:hover {
  background: var(--main-color-light);
}

.randompad {
  padding: 10px;
}

.green {
  color: #1abc9c;
}

/*a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}*/

.logged {
  position: absolute;
  font-size: 14px;
  top: 10px;
  right: 10px;
  color: var(--main-color);
  letter-spacing: 0px;
}






