.`header{
	min-width: 10vw;
}

.tdcontent{
	min-width: 30vw;
}


.pending-vol-header{
  text-align: left;
}

.pending-vol-value1{
  text-align: left;
  padding-right: 25px;
  min-width: 30vw;
}

.pending-vol-value2{
  text-align: left;
  margin-right: 20px;
  min-width: 30vw;
}

/*textarea {
  width: 400px;
  height: 30px
}*/

.pending-vol-button{
  float: right;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0px 5px 0px 30px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}


input[type=date], [type=time]   {
	width: 47%;
	padding: 0px 5px;
	border-radius: 5px;
}
input[type=text], [type=number]  {
	width: 95%;
	padding: 0px 5px;
	border-radius: 5px;
}


input[type=checkbox] {
  top: 0;
  left: 0;
  /*height: 25px;
  width: 25px;*/
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
input[type=checkbox]:hover  {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
input[type=checkbox]:checked {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
input[type=checkbox]:after {
  content: "";
  position: absolute;
  display: none;
}

input:focus {
	background-color: var(--main-color-input);
}

input:disabled {
  background-color: lightgrey;
}

select {
	width: 95%;
	/*border: 5px solid #f8f8f8*/
}

label{
	font-size: 16px;
	padding: 5px 0px 10px 0px;
}

h1 {
	display: inline;
}

hr {
  border-top: 2px solid var(--main-color-dark);
}

.nameCard {
  border: 2px solid var(--main-color);

}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid var(--main-color-dark);
  background-color: aliceblue;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
    margin: 0px;
    border-radius: 0px;
    color: var(--main-color-dark);
    font-weight: 700;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--main-color-dark);
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--main-color-dark);
    color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 2px solid var(--main-color-dark);
  border-top: none;
}
#slidesPreview {
  padding: 0;
  left: 0px;
  border: 10px black solid;
  background-color: black;
  position: relative;
  width: 100%;
  height: 40vw;
  bottom: 0px;
  overflow: hidden;
}
#slides {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.collapsible {
  background-color: var(--main-color-dark);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px solid var(--main-color-dark);
  text-align: left;
  outline: none;
  font-size: 24px;
   margin: 10px 0px 0px 0px;
        border-radius: 0px; 
}

.tabcontent .active, .collapsible:hover {
    background-color: var(--main-color-input);
    color: var(--main-color-dark);
    border: 2px solid var(--main-color-dark);
}

.tabcontent .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.tabcontent .active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  border: 2px solid var(--main-color-dark);
  border-top: none;
}